@model IEnumerable<WebBanGiay.Models.OrderPro>

@{
    ViewBag.Title = "GoatSneaker";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .btn-edit {
        border-radius: 8px;
        color: white;
        border-color: #e3e039;
        background: #e3e039;
        text-decoration: none;
        padding: 7px 25px;
    }

    .btn-details {
        border-radius: 8px;
        color: white;
        border-color: #198754;
        background: #198754;
        text-decoration: none;
        padding: 7px 25px;
    }

    .btn-delete {
        border-radius: 8px;
        color: white;
        border-color: #de4f45;
        background: #de4f45;
        text-decoration: none;
        padding: 7px 25px;
    }
</style>

<h2>Đơn hàng</h2>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
           Thời gian đặt hàng
        </th>
        <th>
            ID khách hàng
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDPro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressDeliverry)
        </td>
        <td>
            <a href="/Order/Edit/@item.IDPro" class="btn-edit">Chỉnh sửa</a> |
            <a href="/Order/Details/@item.IDPro" class="btn-details">Chi tiết</a> |
            <a href="/Order/Delete/@item.IDPro" class="btn-delete">Xóa</a>
        </td>
    </tr>
}

</table>
